/*
    Angular Drag N' Drop Styles
*/
.nestedDemo .dropzone li {
    float:right;
}
.nestedDemo .dropzone .dndPlaceholder {
    float:right;
}

/* Angular Drag N' Drop Ends */
#creator .item-actions {
    margin-right: auto;
    right: auto;
    left: 0;
    margin-left: 20px;
} 